body {
  box-sizing: border-box;
  margin: 0 auto;
  border: 0;
  max-width: 80vw;
}

.component-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0rem 0.5rem 2rem 0rem;
  background-color: var(--white-color);
  border-radius: 1.5rem;
  padding: 1.5rem;
  gap: 1.6rem;
  max-width: 90vw;
  overflow: auto;
  border-bottom: 1px solid var(--lynxwhite-color);
}

.component-container-title {
  align-self: flex-start;
  flex: 1 1 auto;
}

.component-container-contents {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

.split-wrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

main {
  display: grid;
  grid-template-columns: 30rem auto;
  position: relative;
  height: fit-content;
}

iframe {
  width: 100%;
  border: 0;
}

@media only screen and (max-width: 767px) {
  body {
    max-width: initial;
    margin: initial;
  }
  main {
    grid-template-columns: 1fr;
    place-items: center;
  }
}
