@import url(./components/text-utils/text-utils.css);
@import url(./components/Buttons/buttons.css);
@import url(./components/Avatar/avatar.css);
@import url(./components/Alerts/alerts.css);
@import url(./components/Badges/badges.css);
@import url(./components/Cards/cards.css);
@import url(./components/input/input.css);
@import url(./components/lists/lists.css);
@import url(./components/modal/modal.css);

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 16px is assumed */
  font-family: "Poppins", sans-serif;
}

.component-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem;
  background-color: var(--background-color);
  border-radius: 1.5rem;
  padding: 1.5rem;
  gap: 1.6rem;
}

.round-corner-sm {
  border-radius: 0.5em;
}

.round-corner-md {
  border-radius: 1em;
}

.round-corner-lg {
  border-radius: 1.5em;
}

.round {
  border-radius: 50%;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-items: center;
}

.split-wrap{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap:2rem;
}


@media only screen and (max-width: 480px) {
  /* Mobile */
  html {
    font-size: 50%;
  }
  h2 {
    display: none;
  }
  main {
    grid-template-columns: 1fr;
  }
  .component-container {
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  /* Phablet */
  html {
    font-size: 60%;
  }
}

@media only screen and (min-width: 1024px) {
  /* Laptop */
  html {
    font-size: 65%; /*will be updated based on responsiveness requirements*/
  }
}

@media only screen and (min-width: 1280px) {
  /* Desktop */
  html {
    font-size: 70%; /*will be updated based on responsiveness requirements*/
  }
}

@media only screen and (min-width: 1536px) {
  /* Humungosaur */
  html {
    font-size: 62.5%; /*will be updated based on responsiveness requirements*/
  }
}
