@import url(./components/text-utils/text-utils.css);
@import url(./components/Buttons/buttons.css);
@import url(./components/Avatar/avatar.css);
@import url(./components/Alerts/alerts.css);
@import url(./components/Badges/badges.css);
@import url(./components/Cards/cards.css);
@import url(./components/input/input.css);
@import url(./components/lists/lists.css);
@import url(./components/snackbar/snackbar.css);
@import url(./components/simplified-grid/simplified-grid.css);
@import url(./components/modal/modal.css);
@import url(./components/navbar/navbar.css);
@import url(./components/rating/rating.css);

html {
  font-size: 62.5%; /* 16px is assumed */
  font-family: "Poppins", sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  border: 0;
  max-width: 80vw;
}

.component-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0rem 0.5rem 2rem 0rem;
  background-color: var(--white-color);
  border-radius: 1.5rem;
  padding: 1.5rem;
  gap: 1.6rem;
  max-width: 90vw;
  overflow: auto;
  border-bottom: 1px solid var(--lynxwhite-color);
}

.component-container-title {
  align-self: flex-start;
  flex: 1 1 auto;
}

.component-container-contents {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap:1rem;
}

.round-corner-sm {
  border-radius: 0.5em;
}

.round-corner-md {
  border-radius: 1em;
}

.round-corner-lg {
  border-radius: 1.5em;
}

.round {
  border-radius: 50%;
}

.split-wrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

main {
  display: grid;
  grid-template-columns: 30rem auto;
  position: relative;
  height: fit-content;
}

@media only screen and (min-width: 50px) {
  html {
    font-size: 15%;
  }
  .nav-bar-top {
    font-size: 0.6rem;
  }
}

@media only screen and (min-width: 173px) {
  html {
    font-size: 25%;
  }
  .nav-bar-top {
    font-size: 0.6rem;
  }
}

@media only screen and (min-width: 250px) {
  html {
    font-size: 35%;
  }
}

@media only screen and (min-width: 350px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 480px) {
  /* Mobile */
  html {
    font-size: 62.5%;
  }
  .card-basic {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 640px) {
  /* Mobile */
  body {
    max-width: initial;
    margin: initial;
  }
  main {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .component-container {
    flex-direction: column;
  }

  .nav-bar-top {
    flex-wrap: wrap;
  }

  .nav-bar-top > .nav-item-left {
    flex-grow: 1;
    justify-content: center;
  }

  .nav-hamburger {
    display: block;
  }

  .nav-bar-top > .nav-item-center,
  .nav-item-right {
    display: none;
  }

  .side-nav {
    display: none;
  }
}

@media only screen and (min-width: 640px) {
  /* Phablet */
  html {
    font-size: 45%;
  }
}

@media only screen and (min-width: 768px) {
  /* Phablet */
  html {
    font-size: 45%;
  }
  .side-nav {
    display: flex;
  }
}

@media only screen and (min-width: 1024px) {
  /* Laptop */
  html {
    font-size: 50%; /*will be updated based on responsiveness requirements*/
  }
}

@media only screen and (min-width: 1280px) {
  /* Desktop */
  html {
    font-size: 55%; /*will be updated based on responsiveness requirements*/
  }
}

@media only screen and (min-width: 1536px) {
  /* Humungosaur */
  html {
    font-size: 62.5%; /*will be updated based on responsiveness requirements*/
  }
}
