.btn{
    border:0;
    padding:0.5rem 1rem;
    color:var(--lynxwhite-color);
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    border-radius: 0.5rem;
}

.btn-transparent{
    background-color: transparent;
    color: var(--highlight-color);
}

