@import url(../globals.css);

.component-container {
  align-items: center;
}

.avatar-container {
  /* Enlarging for better visualising 
   override to multiply/divide size of all avatars */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.avatar-caption {
  font-size: 1rem;
}

.avatar-sm {
  width: 2.4em;
  height: 2.4em;
}

.avatar-md {
  width: 3.2em;
  height: 3.2em;
}

.avatar-lg {
  width: 4.8em;
  height: 4.8em;
}

.round-corner-sm {
  border-radius: 0.5em;
}

.round-corner-md {
  border-radius: 1em;
}

.round-corner-lg {
  border-radius: 1.5em;
}

.round {
  border-radius: 50%;
}