@import url(../globals.css);

.nav-bar-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  min-height: 7.4rem;
  max-height: 25vh;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid var(--lynxwhite-color);
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-item-left,
.nav-item-right,
.nav-item-center {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-search-bar,
.nav-search-bar > input {
  max-width: 50rem;
  min-width: 30rem;
}

.side-nav {
  position: sticky;
  display: flex;
  flex-direction: column;
  top: 10rem;
  height: 90vh;
  max-height: 100vh;
  padding-left: 1rem;
  overflow-y: auto;
  color: #2d3748;
  border-right:1px solid var(--lynxwhite-color);
}

.fixed-side-nav {
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999999;
  width: 100%;
  height: 100%;
  align-items: center;
  overflow: auto;
}

.fixed-side-nav > a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid white;
}

.nav-hamburger {
  display: none;
  font-size: 2rem;
  margin: 1rem;
}

.nav-brand-logo {
  max-width: 20rem;
  max-height: 5rem;
}
