@import url(../globals.css);

.nav-bar-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap:2rem;
  min-height: 7.4rem;
  max-height: 25vh;
  width: 100vw;
  margin: 0 auto;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-item-left,
.nav-item-right,
.nav-item-center {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-search-bar,
.nav-search-bar > input {
  max-width: 50rem;
  min-width: 30rem;
}

.side-nav {
  position: sticky;
  top: 10rem;
  height: fit-content;
}
