:root {
    --danger-color: #ff3b30;
    --info-color: #3b82f6;
    --success-color:#17BEBB;
    --warning-color:#F49F0A;
    --highlight-color:#F49F0A;
    --grey-color: #9a9a9a;
    --black-color: #282828;
    --background-color: #fff6ea;
    --white-color: #ffffff;
    --lynxwhite-color: #f7f7f7;
    --violet-color: #5348c7;
    --lynxgray-color: #c5c5c5;
  }
  