@import url("../globals.css");
.rating-container{
  display: flex;
  gap:-1px;
}

.rating-container>.star{
  margin-left:-3px;
}

.rating-container > .fa-star-o, .star-hover {
  color: var(--inactive-star-color);
}

.rating-container > .star-active {
  color: var(--warning-color);
}
